.page {
  position: fixed;
  top: 0;
  left: 0;
  /* padding-top: 9rem; */
  text-align: center;
  background-color: #4158d0;
  background-image: linear-gradient(
    43deg,
    #4158d0 0%,
    #c850c0 46%,
    #ffcc70 100%
  );
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

h4 {
  color: rgb(238, 238, 238);
  text-align: start;
}

.left {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  padding-top: 5rem;
}

.bottomContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
}

.startbtn {
  margin-top: 3rem;
  border-radius: 0 !important;
}

.heading {
  color: linear-gradient(43deg, #4158d0 0%, #c850c0 46%, #ffcc70 100%);
  background: rgb(208,146,250);
background: linear-gradient(98deg, rgba(208,146,250,1) 0%, rgba(46,205,218,1) 53%, rgba(129,33,238,1) 100%);
  padding-bottom: 2rem;
  font-size: 5rem;
  max-width: 80%;
}
