:root{
  --primary: rgb(255, 255, 255);
  --textclr: black;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.App {
  text-align: center;
  	
  /* background-color: rgb(189, 189, 189); */
}
